* {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

#list-item {
    width: 100%;
    height: 200px;
    margin: 25px 0;
    background-color: rgb(14, 22, 29);
    box-shadow: 0 0 5px 5px rgb(180, 180, 180);
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    padding: 10px 5px;
}

img {
    height: 200px;
}

#image {
    margin-right: 20px;
}

.section-container {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1 div {
    display: flex;
}

.section2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 div {
    display: flex;
}

.attr {
    width: 35%;
}

.value {
    width: 65%;
}

.section2 {
    width: 60%;
}

#title {
    text-align: center;
    color: white;
    height: 15%;
    margin-bottom: 5px;
}